#!/usr/bin/make -f

# set variables for debian build
export PYBUILD_NAME=pytorch
export PYBUILD_DISABLE_python2=1
export PYBUILD_DISABLE=test
export DEB_BUILD_OPTIONS+=nocheck
export DEB_BUILD_OPTIONS+=noddebs
# set variables for pytorch build
export USE_CUDA=0
export USE_CUDNN=0
export USE_NCCL=0
export BUILD_DOCS=0
export BUILD_TEST=0
# Enable necessary items
export BUILD_CAFFE2_OPS=1
export BUILD_BINARY=1
# Enable optional items (tested)
#export USE_FBGEMM=1
#export USE_MKLDNN=1
#export USE_MKLDNN_CBLAS=1
#export USE_NNPACK=1
#export USE_QNNPACK=1
#export USE_DISTRIBUTED=1
#export USE_OPENMP=1
#export USE_TBB=1
#export USE_ZSTD=1

name = ${PYBUILD_NAME}
topdir = $(shell pwd)
buildroot = ${topdir}/debian/tmp
_libdir ?= /usr/lib
_includedir ?= /usr/include
_sharedir ?= /usr/share
packagingdir = ${topdir}/packaging

THP01=benchmark.tar.gz
THP02=cpuinfo.tar.gz
THP03=cub.tar.gz
THP04=eigen.tar.gz
THP05=fbgemm.tar.gz
THP06=foxi.tar.gz
THP07=FP16.tar.gz
THP08=FXdiv.tar.gz
THP09=gemmlowp.tar.gz
THP10=gloo.tar.gz
THP11=googletest.tar.gz
THP12=ideep.tar.gz
THP13=ios-cmake.tar.gz
THP14=miniz-2.0.8.tar.gz
THP15=nccl.tar.gz
THP16=neon2sse.tar.gz
THP17=NNPACK.tar.gz
THP18=onnx.tar.gz
THP19=onnx-tensorrt.tar.gz
THP20=protobuf.tar.gz
THP21=psimd.tar.gz
THP22=pthreadpool.tar.gz
THP23=pybind11.tar.gz
THP24=python-enum.tar.gz
THP25=python-peachpy.tar.gz
THP26=python-six.tar.gz
THP27=QNNPACK.tar.gz
THP28=sleef.tar.gz
THP29=tbb.tar.gz
THP30=zstd.tar.gz

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_python3:
	dh_python3 --no-ext-rename

override_dh_auto_clean:
	dh_auto_clean
	-find . -type d -name __pycache__ -exec rm -rf '{}' +

override_dh_auto_test:
	# no tests to be run
	echo "No tests to be run"

override_dh_test:
	# no tests to be run
	echo "No tests to be run"

override_dh_auto_configure:
	tar -xf ${packagingdir}/${THP01} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP02} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP03} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP04} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP05} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP06} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP07} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP08} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP09} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP10} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP11} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP12} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP13} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP14} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP15} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP16} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP17} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP18} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP19} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP20} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP21} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP22} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP23} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP24} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP25} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP26} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP27} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP28} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP29} -C ${topdir}/third_party/
	tar -xf ${packagingdir}/${THP30} -C ${topdir}/third_party/
	dh_testdir
	dh_auto_configure
